<!DOCTYPE html>
<html>
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <h2>Über uns</h2>

    <img src="/images/meme.jpg" />

    <%- include('partials/footer') %>
</body>
</html>