body {
    font-family: Arial, Helvetica, sans-serif;
}

#todo-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-input {
    flex-grow: 1;
    margin-right: 10px;
}

#todo-form .btn {
    flex-shrink: 0;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

#todo-list li .todo-list-buttons .btn {
    margin-left: 10px;
}

#todo-list li.completed {
  text-decoration: line-through;
  font-weight: normal;
}